.wrapper{
  margin: 100px 100px;
  width: 200px;
  // border: 1px solid red;
  align-content: center;
}
.survey{
  color:blue;
  display: grid;
  font-weight: bold;
  // width: 100px;
  align-items: center;

}
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
